{% extends 'project/_base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}Posts{% endblock title %}

{% block content %}
    {% comment %} {% for obj in page_obj %}
        {{obj.title}} - {{obj.body}}
    {% endfor %} {% endcomment %}
    <div id="spinner-box">
        <div class="spinner-border" role="status"></div>
    </div>
    <div id="posts-box"></div>
    <div id="hello-world"></div>
{% endblock content %}
